:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }

html,body{
    height: 100%;
    background-color: var(--primary-light);
}
button{
    width: 75px;
    height: 75px;
    flex: 0 0 auto;    
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 0px;
}
#outputWindow{
    width: 225px;
    height: 50px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    box-sizing: border-box;
}
#solution{
    width: 225px;
    height: 25px;
    box-sizing: border-box;
    text-align: right;
    margin: 0px;
    padding: 10px;
    color: grey;
    background-color: white;
}
#numbers{
    width: 225px;
    display: flex;
    flex-wrap: wrap;
}
#main{
    display: flex;
    width: 300px;
    border: 2px;
    border-radius: 3px;
    border-style: solid;
}
#arithmeticButtons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#outputWindow{
    border: 0px;
    text-align: right;
}
button:hover{
    transform: scale(1.05);
    background-color: var(--secondary-light);
}
button:active{
    background-color: var(--secondary-light);
    transform: scale(0.95);
}